<div class="center">
    <br>
<h2>Edit Review</h2>
<br>
<form action="/posts/edit/{{_id}}" method="post">

    <label for="title">Film Title:</label>
    <input id="title" type="name" name="title" value="{{title}}">
<br>
    <label for="content">Review:</label>
    <input id="content" type="text" name="content"value="{{content}}">
<br>
    <label for="rating">Rating:</label>
    <input id="content" type="number" name="rating" value="{{rating}}">
<br>
    <label for="imageUrl">Poster URL:</label>
    <input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">
<br>
<br>
    <button type="submit">Edit Review</button>

</form>
</div>